/*Limpar formatações padrao*/
*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 1.1em;
	font-family: georgia, Helvetica, "Trebuchet MS", sans-serif;
	background: #050609;
	font-weight: bold;
}

/*
**** Layout ****
*/

#area-cabecalho{
	background-color: #CED3DC;
	padding: 15px;
	width: 1080px;
	margin: 10px auto;
	text-align: center;
	position: relative;
}

#home{
	position: relative;
	top: 0px;
	left: -470px;
}

#area-logo, #area-menu{
	padding: 10px;
}

#area-inicio{
	position: relative;
}

#tabela{
	margin: 10px;
	width: 450px;
	height: 200px;
	border: 5px ridge #FBFF00;
	position: relative;
	top: 0px;
}

#bandeira{
	width: 400px;
	height: 200px;
	border: 5px ridge #FBFF00;
	position: absolute;
	top: 0px;
	right: 10px;
}

#area-capital{
	background-color: #CED3DC;
	padding: 15px;
	width: 1080px;
	margin: 10px auto;
}

#area-pontos{
	background-color: #CED3DC;
	padding: 15px;	
	width: 1080px;
	margin: 10px auto;
}

#area-curiosidades{
	background-color: #CED3DC;
	padding: 15px;	
	width: 1080px;
	margin: 10px auto;
}


/*
**** Formatacao dos links ****
*/
a{
	text-decoration: none;
	text-shadow: 2px 1px 1px #050609;
}

a:link, a:visited{
	color: #305819;
	padding: 8px 12px;
	font-size: 1.3em;
}

a:hover{
	color: #FBFF00;
	font-weight: bold;
}

button{
	padding: 18px 30px;
	margin: 10px;
	border: none;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;/*define oque acontece quando o conteudo ultrapassa o tamanho do bloco*/
	background: #FBFF00;
	border-radius: 5px;/*arredondamento de borda*/
	min-width: 50px;/*esticamento*/
	color: white;
	z-index: 0;
	text-transform: uppercase;
	letter-spacing: 1px;/*espacamento entre as letras*/
	transition: all 0.3s;
	font-weight: 600;
}

button::before{
	content: '';
	position: absolute;
	display: block;
	top: 0px;
	letter-spacing: -50px;
	width: 70%;
	height: 100%;
	background: linear-gradient(90deg, transparent, #305819, transparent);
	transition: all 1s;
	z-index: -1;
	transform: translateX(-120px)
				skew(-20deg);
}

button:hover::before{
	transform: translateX(300px)
				skew(-20deg);
}

button:hover{
	background: #305819;
}

/*
**** Formatacoes gerais ****
*/

td,tr,th{
	border-width: 1px;
	border-style: ridge;
	border-color: #305819;
}

h1,h2,h3{
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px #050609;
	color: #305819;
}

h1{
	font-size: 3em;
	text-shadow: 2px 2px 2px #050609;
}

h2{
	font-size: 2em;
	margin: 10px;
}

h3{
	font-size: 1.5em;
	margin: 20px;
}

p{
	padding: 10px;
	text-align: justify;
}
	
hr{
	border: 2px solid #050609;
	clear: both;
}

span{
	color: #FBFF00;
}

.introducao{
	margin: 20px;
	font-size: 1.2em;
	text-align: center;
}


.clear{
	clear: both;
}

.area{
	background-color: #CED3DC;
	padding: 15px;
	width: 1080px;
	margin: 10px auto;
}

.capital, .pontos1{
	background-color: #305819;
	border: 5px ridge #FBFF00;
	width: 460px;
	float: left;
	margin: 10px 25px;
	text-align: center;
	padding: 10px;
}

.capital img, .pontos1 img{
	width: 450px;
	border: 5px ridge #FBFF00;
}

.pontos, .curiosidades{
	background-color: #305819;
	border: 5px ridge #FBFF00;
	width: 300px;
	margin: 0px 15px 30px 15px;
	text-align: center;
	padding: 10px;
	float: left;
}

.pontos img , .curiosidades img{
	width: 290px;
	border: 5px ridge #FBFF00;
}